doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  
body
  nav.navbar.fixed-top.navbar-toggleable-md.navbar-inverse
    .container
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarMain')
        span.navbar-toggler-icon
      a(href="/")
        img.img-fluid.rounded.me-2(src='/images/logo.jpeg',style="width:60px;height:auto")

      #navbarMain.navbar-collapse.collapse.ml-3
        ul.navbar-nav
          li.nav-item()
            h5
              a.nav-font.nav-link(href='/list',style="color:#efeaea") Phones
        ul.navbar-nav
          li.nav-item
            h5
              a.nav-font.nav-link(href='/display',style="color:#efeaea") New Launch
        ul.navbar-nav
          li.nav-item
            h5
              a.nav-font.nav-link(href='/about',style="color:#efeaea") About us

  .Banner-img-about
    h1.heading About Us
  .welcom-section.custom-container.first-about-row.container
    .left-col
      img(src='images/aboutus.webp' alt='Banner' title='Banner')
    .right-col
      h2.heading Our founding
      p
        | Levish Mobile Store was founded by Rand Fishkin and Gillian Muessig in 2004. It was called Rytham Technologies, and started as a small shop and an online community where some of the world&apos;s first ecommerce experts shared their research
        |  and ideas. We launched the Beginner&apos;s Guide to our Company and our first Product Ranking Factors study, and that hub of industry expertise transformed into a small consulting firm and led us to create some of our first Device tools.

  section
    .container-custom
      .grid-system-main
        .inner-grid-main
          span Give a peek behind the curtains
        .inner-grid-main
          span Be Interesting
        .inner-grid-main
          span Express Your Values

  .container
    footer.fixed-bottom(style="background-color:black")
      .container
        .row
          .col-12
            small(style="color:#fff") &copy; Lavish Mobile Store &nbsp; Owned by Parth Donga - 8715955
  
