doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    

  body
    nav.navbar.fixed-top.navbar-toggleable-md.navbar-inverse
      .container
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarMain')
          span.navbar-toggler-icon
        a(href="/")
          img.img-fluid.rounded.me-2(src='/images/logo.jpeg',style="width:60px;height:auto")

        #navbarMain.navbar-collapse.collapse.ml-3
          ul.navbar-nav
            li.nav-item()
              h5
                a.nav-font.nav-link(href='/list',style="color:#efeaea") Phones
          ul.navbar-nav
            li.nav-item
              h5
                a.nav-font.nav-link(href='/display',style="color:#efeaea") New Launch
          ul.navbar-nav
            li.nav-item
              h5
                a.nav-font.nav-link(href='/about',style="color:#efeaea") About us

            
    .container
      block content
      footer.fixed-bottom(style="background-color:black")
        .container
          .row
            .col-12
              small(style="color:#fff") &copy; Lavish Mobile Store &nbsp; Owned by Parth Donga - 8715955
    
    script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/fontawesome.min.js')
    script(src='/javascripts/colorchange.js')